.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.productCard {
  background-color: red;
  width: 300px;
  padding: 10px;
  & h1 {
      font-size: 1.5rem;
  }
  & img {
      width: 100%;
  }
}